.App {
  text-align: center;
}

/*Panel with widgets above camera panels*/
.TopPanel {
	width:100%;
	display:inline-block;
	/* background-color:rgb(170, 0, 170); */
}

.MasterSelect {
	margin-left:10px;
	margin-bottom:4px;
	padding:3px;
	display:inline-block;
	border-style:solid;
	border-width:1px;
	background-color: #333;
	border-color:rgb(129, 129, 129);
}

.MasterLabel {
	color: white;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#TitleLabel {
	color: rgb(33, 224, 7);
	font: 26px "Lucida Grande", Helvetica, Arial, sans-serif;
}


#PollingLabel {
	color: rgb(224, 224, 224);
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 3px;
	border-style:inset;
	border-width:3px;
	border-color:rgb(129, 129, 129);
	float:left;
	margin-left:5px;
	margin-right:10px;
}

.Unreals {
	display:inline-block;
	/* background-color:rgb(170, 0, 0); */
}

.UnrealBlock {
	display:inline-block;
	height:auto;
	/* background-color:rgb(0, 0, 170); */
}

.UnrealStatus {
	display:inline-block;
	color:#fff;
	text-align:center;
	background-color: grey;
	border-style:inset;
	border-width:3px;
	border-color:rgb(129, 129, 129);
	margin-right:10px;
	margin-bottom:5px;
	padding: 3px 3px;
	width:140px;
}

/*Panel with widgets for one camera*/
.MainPanel {
	width: 48%;		/* entire panel width 2 panels */
	background-image: linear-gradient(#102A10, #202020);
	position: absolute;
	border-radius: 20px;
	border-style: outset;
	border-width: 2px;
	border-color:#103010;
	
	margin-left: 1%;
	z-index: 8;
}

.sliderGroup {
/*	background-color:#55f; */
	margin-left:1%;
	margin-right:1%;
}

.col_wheel {
	width: 100px;
	color: white;
	background-color: #404040; 
	margin-right:10px;
}

.inlineGroup {
	width: auto;
	padding:1px 5px 3px 0;
	margin:1px 2px 0 2px; /*t r b l*/
	/* border-color:#f95;	border-width: 1px;	border-style: solid;  */
	display: inline-block; 

	/* border-style:solid;
	border-width:1px;
	background-color: #333;
	border-color:rgb(129, 129, 129); */
}
	
h3 {
	color: #eee;
	text-align: center;
}

.LabelText {
	color: #afa;
}

.LabelValue {
	color: #fff;
}

#Credits {
	display: block;
	padding-right:10px;
	margin-right: 2%;
	text-align: right;
	font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
	color:rgb(58, 90, 58);
}

.CoverPanel {
	background-image: linear-gradient(#102A10, #202020);
	opacity: 0.7;
	position:absolute;
	width: 98.5%;
	height: 99%;
	margin-left: 4px;
	margin-top: 6px;
	top: 0;
	left: 0;
	z-index: 9;
}
	
/* Popup container */
.popup {
	/* border-color:rgb(173, 4, 4);  	border-width: 1px;	border-style: solid; */
	display: block;
	float: right; 
	position: relative;
	/* display: inline-block;  */
	cursor: pointer;
 }
  
/* The actual popup (appears on top) */
.popup .popuptext {
	--block-width: 405px;  
	visibility: hidden;
	/* opacity:85%; */
	width: var(--block-width);
	margin-left: calc(-14px - var(--block-width)); 
	background-image: linear-gradient(rgb(223, 239, 250), rgb(85, 182, 247));
	/* background-color: rgb(148, 212, 255); */
	color: #222;
	text-align: left;
	border-radius: 10px;
	padding: 8px 8px;
	position: absolute;
	z-index: 10;
	top: 100%;
	/* left: -100%; */
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}

