.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 20px;
  color: white; 
}

.button1 {
  background-color: #666; 
}

.button1:hover {
  background-color: #2094fa;
}

button:active:hover {
  background-color: #080; 
}

#But0 { /* top button */
  margin-left:10px;
 /* 
  position: absolute;
  top:20px;
  left:390px;
 */ 
}